/* Container */
.container {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
}
/* Navmenu */
.navmenu {
  width: 70px;
  height: 100vh;
  background-color: #162a49;
  padding: 15px;
  position: relative;
  z-index: 999;
  transition: 0.3s ease;
}
.navmenu.active {
  width: 270px;
}
/* Scroll bar di menu */
.navmenu::-webkit-scrollbar {
  width: 7px;
}
.navmenu::-webkit-scrollbar-track {
  background: none;
}
.navmenu::-webkit-scrollbar-thumb {
  background-color: #3061b0;
  border-radius: 10px;
}
.navmenu::-webkit-scrollbar-thumb:hover {
  background-color: #4a79d0;
}
.navmenu .navmenu-content {
  width: 40px;
  height: auto;
  transition: 0.3s ease;
  overflow: hidden;
}
.navmenu.active .navmenu-content {
  width: 240px;
}

/* Links */
.navmenu .links .link {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.navmenu .links a > .link:hover:not(.active) > *,
.navmenu .links .dropdown:hover:not(.active) > .link > * {
  color: #74a3ef;
}
.navmenu .links .link.active,
.navmenu .links .dropdown.active > .link {
  background: none;
}
.navmenu.active .links .link.active,
.navmenu.active .links .dropdown.active > .link {
  background-color: #3061b0;
}
.navmenu .links .link p,
.navmenu .links .link span {
  color: #fff;
}
/* Menu Icon */
.navmenu .links .link span {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}
.navmenu .links .link.active span {
  background-color: #3061b0 !important;
}
.navmenu .links .link span {
  margin-right: 15px;
}
.navmenu .links > a,
.navmenu .links .admin-menu > a {
  display: block;
  margin-bottom: 10px;
}
/* dropdown */
.navmenu .dropdown {
  margin-bottom: 10px;
}
.navmenu .dropdown .link {
  position: relative;
}
.navmenu.active .dropdown .link .down-icon {
  position: absolute;
  right: 0;
  margin: 0;
  transition: 0.3s ease;
  display: block;
}
.navmenu .dropdown .link .down-icon {
  display: none;
}
.navmenu .links .dropdown.active > .link .down-icon {
  transform: rotate(180deg);
}
.navmenu .dropdown .drop-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* height: 120px; */
  height: 0;
  transition: 0.3s ease;
}
.navmenu .dropdown.active .drop-menu {
  height: 120px;
}
.navmenu .dropdown .drop-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 2px;
  height: 85%;
  background-color: #74a3ef;
}
.navmenu .dropdown .drop-menu a {
  color: #fff;
  padding: 10px;
  margin-left: 55px;
}
.navmenu .dropdown .drop-menu a:hover {
  color: #74a3ef;
}
.admin-menu {
  display: none;
}
.admin-menu.show {
  display: block;
}
/* Konten */
.konten {
  flex: 1;
  transition: margin-left 0.3s ease;
}
/* Navmenu */
.navbar {
  width: 100%;
  height: auto;
  padding: 15px 10px;
  background-color: #162a49;
  display: flex;
  align-items: center;
}
.navbar > * {
  margin: 0 10px;
}
/* tombol buka menu */
.navbar .menu-btn {
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 25px;
  margin-right: 10px;
}
.navbar .logo p {
  color: #fff;
  font-weight: bold;
}
