/* Container */
.container {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
  position: relative;
}

/* Navmenu */
.navmenu {
  width: 70px;
  height: 100vh;
  background-color: #ecf3e7;
  padding: 15px;
  position: relative;
  z-index: 999;
  transition: 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
}
.navmenu.active {
  width: 270px;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: #3a693a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #225025;
}

/* Konten nav-menu */
.navmenu .navmenu-content {
  width: 40px;
  height: auto;
  transition: 0.3s ease;
  overflow: hidden;
}
.navmenu.active .navmenu-content {
  width: 240px;
}

/* Links */
.navmenu .links .link {
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
.navmenu .links a > .link:hover:not(.active),
.navmenu .links .dropdown:hover:not(.active) > .link,
.navmenu .links .link .menu-btn:hover {
  background-color: #dee5d9;
}
.navmenu .links .link.active,
.navmenu .links .dropdown.active > .link {
  background-color: #3a693a;
}
.navmenu .links .link p,
.navmenu .links .link span {
  color: #002105;
}
.navmenu .links .link.active p,
.navmenu .links .link.active span,
.navmenu .links .dropdown.active .link p,
.navmenu .links .dropdown.active .link span {
  color: #f6fff0;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Menu Text */
.navmenu .links .link p {
  display: none;
}
.navmenu.active .links .link p {
  display: block;
}

/* Menu Icon */
.navmenu .links .link span {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}
.navmenu .links .link span {
  margin-right: 15px;
}
.navmenu .links > a,
.navmenu .links .admin-menu > a {
  display: block;
  margin-bottom: 10px;
}

/* Menu Button */
.navmenu .links .link .menu-btn {
  margin-bottom: 10px;
  border-radius: 50%;
}

/* Batas */
.navmenu .links .batas {
  width: 95%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.navmenu .links .batas .garis-batas {
  width: 100%;
  height: 1px;
  background-color: #002105;
  border-radius: 50px;
}
.navmenu .links .batas h2 {
  color: #002105;
  display: none;
  font-size: 16px;
  margin-top: 20px;
}
.navmenu.active .links .batas h2 {
  display: block;
}

/* dropdown */
.navmenu .dropdown {
  margin-bottom: 10px;
}
.navmenu .dropdown .link {
  position: relative;
}
.navmenu.active .dropdown .link .down-icon {
  display: block;
}
.navmenu .dropdown .link .down-icon {
  display: none;
  position: absolute;
  right: 0;
  margin: 0;
  transition: 0.3s ease;
}
.navmenu .links .dropdown.show > .link .down-icon {
  transform: rotate(180deg);
}
.navmenu .dropdown .drop-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* height: 120px; */
  height: 0;
  transition: 0.3s ease;
}
.navmenu .dropdown.show .drop-menu {
  height: 160px;
  margin-top: 5px;
}
.navmenu .dropdown.show .drop-menu.guest {
  height: 80px;
}
.navmenu .dropdown .drop-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 2px;
  height: 95%;
  background-color: #3a693a;
}
.navmenu .dropdown .drop-menu a {
  color: #002105;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 50px;
}
.navmenu .dropdown .drop-menu a.active {
  background-color: #3a693a;
  color: #f6fff0;
}
.navmenu .dropdown .drop-menu a:hover:not(.active) {
  background-color: #dee5d9;
}
/* Konten */
.konten {
  flex: 1;
  transition: margin-left 0.3s ease;
  overflow: hidden;
  position: relative;
}
/* Navmenu */
.navbar {
  width: 100%;
  height: 70px;
  padding: 15px 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}
.navbar > * {
  margin: 0 10px;
}
.navbar .left-cont {
  display: flex;
  align-items: center;
}
/* menu btn for screen size 800px */
.navbar .menu-btn {
  display: none;
  margin-left: -10px;
  margin-right: 10px;
  color: #002105;
  padding: 10px;
  border-radius: 50%;
}
.navbar .menu-btn:hover {
  background-color: #dee5d9;
}
/* Logo */
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 25px;
  margin-right: 10px;
}
.navbar .logo p {
  color: #002105;
  font-weight: bold;
}
/* Notifikasi */
.navbar .right-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .notif {
  position: relative;
  cursor: pointer;
  display: none;
}
.navbar.admin .notif {
  display: block;
}
.navbar .notif span.notif-count {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  min-width: 12px;
  height: 12px;
  display: block;
  text-align: center;
  line-height: 12px;
  background-color: var(--error-light);
  color: var(--on-error-light);
  border-radius: 50px;
  padding: 0 3px;
  font-size: 10px;
}
.navbar .notif.none span.notif-count {
  display: none;
}
.navbar .notif span.material-symbols-rounded {
  color: #002105;
}
.navbar .notif.aktif span.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* Menu Notifikasi */
.navbar .notifikasi {
  position: absolute;
  top: 100%;
  right: 50px;
  width: 90%;
  max-width: 400px;
  height: auto;
  background-color: #ecf3e7;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  display: none;
}
.navbar .notifikasi.show {
  display: block;
}
.navbar .notifikasi .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dee5d9;
  padding: 10px 20px;
  margin-bottom: 0;
}
.navbar .notifikasi .head h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  color: #002105;
}
.navbar .notifikasi .head span {
  cursor: pointer;
  padding: 5px;
  color: #002105;
  border-radius: 50px;
}
.navbar .notifikasi .head span:hover {
  background-color: #dee5d9;
}
.navbar .notifikasi .content {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 400px;
  padding: 10px;
}
.navbar .notifikasi .content .notif-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.navbar .notifikasi .content .notif-container .notif-menu {
  background-color: #ffffff;
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar .notifikasi .content .notif-container .notif-menu * {
  color: #002105;
}
.navbar .notifikasi .content .notif-container .notif-menu .notif-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar
  .notifikasi
  .content
  .notif-container
  .notif-menu
  .material-symbols-rounded {
  margin-right: 20px;
}
.navbar .notifikasi .content .notif-container .notif-menu .notif-text h2 {
  font-size: 18px;
}
.navbar .notifikasi .content .notif-container .notif-menu .notif-text p {
  font-size: 15px;
}
.navbar .notifikasi .content .notif-container .notif-menu .notif-text span {
  color: #3a693a;
  font-weight: bold;
}
/* Jika tidak ada notifikasi */
.navbar .notifikasi .content .no-notif {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #002105;
}
.navbar .notifikasi.none .content {
  padding: 50px 0 !important;
}
.navbar .notifikasi.none .content .no-notif {
  display: block;
}
.navbar .notifikasi.none .notif-container {
  display: none;
}
/* Profile */
.navbar .profile {
  cursor: pointer;
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
}
.navbar .profile > * {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .profile span {
  font-variation-settings: "FILL" 1;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-size: 23px;
  border-radius: 50%;
  background-color: #dee5d9;
  color: #002105;
}
/* Profile Menu */
.profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 20px;
  width: 90%;
  max-width: 436px;
  height: auto;
  padding: 20px;
  background-color: #ecf3e7;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.profile-menu.show {
  display: block;
}
.profile-menu .close-pf-menu {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 25px;
  color: #002105;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.profile-menu .close-pf-menu:hover {
  background-color: #dee5d9;
}
.profile-menu p {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #002105;
}
.profile-menu .user-id {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
.profile-menu .user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  background-color: #dee5d9;
}
.profile-menu .user-image span {
  font-variation-settings: "FILL" 1;
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  color: #002105;
}
.profile-menu .nama {
  font-size: 25px;
  margin-bottom: 20px;
}
.profile-menu .akun {
  width: 200px;
  padding: 10px 0;
  font-weight: 500;
  color: #3a693a;
  display: none;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #253423;
  border-radius: 50px;
}
.profile-menu .akun:hover {
  background-color: #d5e8cf;
}
.navbar.admin .profile-menu .akun {
  display: block;
}
.profile-menu .multi-tombol {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 2px;
  border-radius: 50px;
}
.profile-menu .multi-tombol a {
  display: flex;
  width: 100%;
}
.navbar .profile-menu .kelola-pengguna {
  display: none;
}
.navbar.admin .profile-menu .kelola-pengguna {
  display: flex;
}
.profile-menu .multi-tombol .tombol {
  border-radius: 5px;
  margin: 0;
}
.profile-menu .tombol {
  display: flex;
  color: #002105;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  width: 100%;
  height: 60px;
  margin: 10px 0;
}
.profile-menu .tombol > span {
  margin-left: 17px;
  margin-right: 10px;
  color: #002105;
}
.profile-menu .tombol p {
  font-size: 17px;
  flex: 1;
  text-align: left;
}
.profile-menu .tombol .saklar {
  background-color: #e4e1e6;
  width: 70px;
  height: 35px;
  border-radius: 50px;
  margin: 0 20px;
  padding: 2px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.profile-menu .tombol .saklar span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  left: 10px;
  background-color: #1b1b1f;
  border-radius: 50px;
  color: #1b1b1f;
  font-size: 18px;
  transition: 0.3s ease;
}
.profile-menu .tombol .saklar:hover span {
  transform: translateY(-50%) scale(1.5);
}
.profile-menu .tombol .saklar.aktif {
  background-color: #3a693a;
}
.profile-menu .tombol .saklar.aktif span {
  background-color: #f6fff0;
  color: #002105;
  left: 43px;
  transform: translateY(-50%) scale(1.4);
}
.profile-menu .tombol .saklar.aktif:hover span {
  transform: translateY(-50%) scale(1.5);
}

/* Snackbar */
.snackbar {
  position: fixed;
  bottom: 20px;
  left: calc(70px + 20px);
  width: 90%;
  max-width: 500px;
  height: 48px;
  overflow: hidden;
  background-color: #2c322a;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  animation: 0.5s ease snackShow;
  z-index: 999999;
}
@keyframes snackShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.snackbar.show {
  display: flex;
}
.snackbar p {
  color: #f6fff0;
}
.snackbar a {
  color: #c9ffc3;
  padding: 0 10px;
}

/* Create new user */
.user-manager-dialog .formulir {
  max-width: 1200px;
}
.user-manager-dialog .formulir .content {
  display: flex;
  gap: 50px;
}
.user-manager-dialog .formulir .content > * {
  width: 100%;
}

/* Konten kiri untuk buat pengguna baru */
.user-manager-dialog .formulir .content .left {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-manager-dialog .formulir .content .left .profile-icon {
  width: 100px;
  height: 100px;
  background-color: #ecf3e7;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.user-manager-dialog .formulir .content .left .profile-icon span {
  color: #002105;
  font-size: 50px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  display: block;
}
.user-manager-dialog .formulir .content .left .profile-desc * {
  display: block;
  text-align: center;
  margin: 0;
}
.user-manager-dialog .formulir .content .left .profile-desc .userrole {
  margin-top: 20px;
  background-color: #d5e8cf;
  padding: 5px 0;
  border-radius: 50px;
}
/* Konten kanan untuk buat pengguna baru */
.user-manager-dialog .formulir .content .right .kolom-sandi.hide .multi-field,
.user-manager-dialog .formulir .content .right .kolom-sandi.hide .show-passwd {
  display: none;
}
.user-manager-dialog .formulir .content .right .kolom-sandi .reset-passwd-btn {
  padding: 7px 12px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #253423;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  display: none;
}
.user-manager-dialog
  .formulir
  .content
  .right
  .kolom-sandi
  .reset-passwd-btn:hover {
  background-color: #d5e8cf;
}
.user-manager-dialog
  .formulir
  .content
  .right
  .kolom-sandi
  .reset-passwd-btn
  > * {
  margin-right: 8px;
  color: #3a693a;
}
.show-passwd {
  margin-bottom: 20px;
}
.show-passwd * {
  cursor: pointer;
}
.show-passwd label {
  color: #002105;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .user-manager-dialog .formulir .right .multi-field {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .container {
    display: block;
  }
  .navmenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 80% !important;
    transform: translateX(-100%);
    transition: 0.4s ease;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
  .navmenu.active {
    transform: translateX(0);
  }
  .navmenu .navmenu-content {
    width: 100% !important;
  }
  /* Menu Text */
  .navmenu .links .link p {
    display: block;
  }
  .navmenu .dropdown .link .down-icon {
    display: block !important;
  }
  /* menu btn */
  .navmenu .links .link .menu-btn {
    display: none;
  }
  /* Batas */
  .navmenu .links .batas h2 {
    display: block;
  }
  .navbar .menu-btn {
    display: block;
  }
  /* snackbar */
  .snackbar {
    left: 20px;
  }
}
@media screen and (max-width: 700px) {
  .user-manager-dialog .formulir .content {
    flex-direction: column;
    gap: 20px;
  }
  .user-manager-dialog .formulir .content .left {
    background-color: #ecf3e7;
  }
  .user-manager-dialog .formulir .content .left .profile-icon {
    background-color: #ffffff;
  }
  .user-manager-dialog .formulir .content .left .profile-desc {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .navbar .notifikasi,
  .navbar .profile-menu {
    right: 50%;
    transform: translateX(50%);
  }
  .snackbar {
    left: 50%;
    transform: translateX(-50%);
  }
}
