@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url(color-base.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: background 0.3s ease 0s;
}
body {
  background-color: #ffffff;
}
.main-content {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 30px;
}
/* Fab Button */
.fab-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #d5e8cf;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #002105;
  border-radius: 17px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.fab-button span.material-symbols-rounded {
  margin-right: 15px;
}

/* Header */
.header {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: auto;
}
.header h1 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
.header h1.nama {
  font-size: 50px;
  background: linear-gradient(
    90deg,
    #328e3d,
    #dcba2b,
    #328e3d,
    #dcba2b,
    #328e3d,
    #dcba2b,
    #328e3d
  );
  background-size: 500%;
  background-position: left;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  animation: gradient 2.7s ease;
}
.header h1.nama::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ffffff 20%);
  animation: fadeout 1s ease-in;
}
/* Animasi Header */
@keyframes gradient {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}
@keyframes fadeout {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.header .kata-sambutan {
  display: block;
  height: 48px;
  overflow: hidden;
  animation: fadein 0.5s ease;
}
.header .kata-sambutan h1 {
  color: #b9ccb4;
  transition: margin-top 0.3s ease 0.4s;
}
.header .kata-sambutan.change h1:nth-child(1) {
  margin-top: -50px;
}
/* Header Menu */
.header .tombol .pilihan {
  display: none;
  width: 100%;
  height: auto;
  padding: 10px;
  overflow-x: auto;
  gap: 10px;
  animation: fadein 0.5s ease;
  margin-top: 30px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header .tombol .pilihan.show {
  display: flex;
}
.header .tombol .pilihan .tmbl {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #ecf3e7;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
  color: #002105;
}
.header .tombol .pilihan .tmbl span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.header .tombol .pilihan .tmbl:hover {
  transform: scale(1.05);
}
.header .tombol .pilihan .tmbl:active {
  transform: scale(1);
}
.header .tombol .pilihan .tmbl:hover span {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* Tabel */
.tabel {
  width: auto;
  height: auto;
  max-width: 1600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #ecf3e7;
  animation: fadein 0.5s ease;
}
.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.head h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #002105;
}
.head p {
  color: #002105;
}
.head .bar-cari {
  display: flex;
  align-items: center;
  overflow: hidden;
  /* width: 327px; */
  width: 44px;
  height: auto;
  border-radius: 50px;
  background-color: #ffffff;
  transition: 0.4s ease;
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); */
}
.head .bar-cari.aktif {
  width: 327px;
}
.head .bar-cari label {
  margin: 10px;
  cursor: pointer;
  color: #002105;
}
.head .bar-cari input {
  font-size: 17px;
  padding: 7px 10px;
  padding-left: 0;
  border: none;
  background: none;
  outline: none;
  color: #002105;
}
.table-container {
  overflow-x: auto;
  width: auto;
}
.tabel table {
  width: 100%;
  /* table-layout: fixed; */
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.tabel table tr th,
.tabel table tr td {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabel table tbody tr:hover {
  background-color: #dee5d9;
}
.tabel table thead {
  border-bottom: 1px solid #dee5d9;
}
.tabel table tr td.list {
  text-align: left;
}
.tabel table tr td.list ul {
  list-style-position: inside;
}
.tabel table tr td.buttons .btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tabel table tr td button {
  /* width: auto;
  height: auto; */
  /* padding: 10px; */
  width: 46px;
  height: 46px;
  /* min-width: 95px;
  min-height: 40px; */
  display: block;
  text-align: center;
  line-height: 46px;
  outline: none;
  border-radius: 50px;
  color: #3a693a;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.tabel table tr td button:nth-child(1) {
  color: var(--on-error-light);
  background-color: var(--error-light);
  transition: none;
}
.tabel table tr td button:nth-child(2) {
  border: 1px solid #253423;
  /* display: flex;
  align-items: center; */
}
/* .tabel table tr td button:nth-child(2) * {
  margin-right: 8px;
} */
.tabel table tr td button:nth-child(2):hover {
  background-color: #d5e8cf;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Experiment */
@media screen and (max-width: 900px) {
  .tabel table {
    border-radius: 20px;
    overflow: hidden;
  }
  .tabel table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .tabel table tr {
    display: block;
    margin-bottom: 5px;
    background-color: #ffffff !important;
    /* border-radius: 20px; */
    padding: 10px;
  }
  .tabel table tr:last-child {
    margin: 0;
  }
  .tabel table td {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee5d9;
    padding: 10px !important;
  }
  .tabel table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .tabel table td.buttons {
    justify-content: space-between !important;
  }
  .tabel table td:last-child {
    border: none;
  }
}

/* Untuk modal */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fade 0.5s ease;
}
.modal-container.show {
  display: flex;
}
@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* Formulir */
.formulir {
  width: 90%;
  max-width: 500px;
  height: auto;
  padding: 50px;
  background-color: #ecf3e7;
  border-radius: 30px;
  display: block;
  margin: 50px auto;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  animation: fadein 0.5s ease;
}
.modal-container .formulir {
  position: relative;
  padding-top: 0;
  overflow-y: auto;
  max-height: 95%;
}
.formulir h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 70px;
  position: relative;
  background-color: #ecf3e7;
  color: #002105;
}
.modal-container .formulir h1 {
  padding-top: 50px;
  margin: 0 -50px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 30px 30px 0 0;
}
.formulir h1::before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 5px;
  border-radius: 50px;
  background-color: #3a693a;
}
.formulir h2 {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin: 20px 0;
  margin-left: 5px;
  color: #002105;
}
.formulir .form-field {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #5a6057;
  position: relative;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
}
.formulir .form-field.none {
  display: none;
}
.formulir .multi-field .form-field {
  margin: 0;
}
.formulir .form-field::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 0;
  height: 2px;
  background-color: #3a693a;
  transition: 0.3s ease;
}
.formulir .form-field.fokus::before {
  width: 100%;
}
.formulir .form-field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 15px;
  transition: 0.3s ease;
  text-transform: capitalize;
}
.formulir .form-field.fokus label {
  top: 5px;
  left: 15px;
  transform: translateY(0);
  font-weight: bold;
  color: #3a693a;
  font-size: 10px;
}
.formulir .form-field input,
.formulir .form-field select {
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  color: #002105;
}
.formulir .form-field input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.formulir .form-field select option {
  background-color: #dee5d9;
}
.formulir .form-field select {
  cursor: pointer;
}
.formulir .form-field .delete-field,
.formulir .multi-field .delete-field {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  cursor: pointer;
}
.formulir .tambah {
  display: flex;
  width: 120px;
  align-items: center;
  border: 1px solid #253423;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 15px;
  margin-top: -15px;
  cursor: pointer;
}
.formulir .tambah span {
  color: #3a693a;
}
.formulir .tambah span.material-symbols-rounded {
  margin-right: 8px;
}
.formulir .tambah:hover,
.formulir .tombol-aksi span#cancel:hover {
  background-color: #d5e8cf;
}
.formulir .multi-field {
  display: flex;
  /* align-items: center; */
  margin-bottom: 30px;
  gap: 20px;
  position: relative;
}
.formulir .tombol-aksi {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formulir .tombol-aksi button,
.formulir .tombol-aksi span {
  width: 100%;
  height: auto;
  background-color: #3a693a;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #f6fff6;
  font-size: 16px;
  border: 1px solid #3a693a;
  text-align: center;
}
.formulir .tombol-aksi button:hover {
  background-color: #225025;
}
.formulir .tombol-aksi span#cancel {
  background: none;
  border-color: #253423;
  color: #3a693a;
}
/* popup alert */
.popup {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.popup.show {
  display: flex;
}
.popup .popup-content {
  width: 95%;
  max-width: 350px;
  background-color: #ecf3e7;
  padding: 25px 30px;
  border-radius: 30px;
  animation: fadein 0.5s ease;
}
.popup .popup-content h2 {
  margin: 10px 0px;
  font-size: 25px;
  color: #002105;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.popup .popup-content p {
  margin: 20px 0px;
  color: #002105;
  font-size: 15px;
}
.popup .popup-content .controls {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 20px 0px 0x;
}
.popup .popup-content .controls button,
.popup .popup-content .controls a {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #3a693a;
  background: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .main-content {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header h1.nama {
    font-size: 40px;
  }
  .header .kata-sambutan {
    height: 38px;
  }
  .header .kata-sambutan h1 {
    font-size: 30px;
  }
  .header .kata-sambutan.change h1:nth-child(1) {
    margin-top: -40px;
  }
  .tabel {
    padding: 20px;
  }
}
@media screen and (max-width: 700px) {
  .tabel .head {
    flex-direction: column;
    gap: 20px;
    align-items: normal;
  }
  .tabel .head .bar-cari {
    width: 100% !important;
  }
}
/* Untuk kata sambutan */
/* @media screen and (max-width: 467px) {
  .header .kata-sambutan {
    height: calc(48px * 2);
  }
  .header .kata-sambutan.change h1:nth-child(1) {
    margin-top: calc(-50px * 2);
  }
} */
