[data-theme="dark"] body {
  background-color: #171d16;
}

/* Navmenu */
[data-theme="dark"] .navmenu {
  background-color: #2c322a;
}

/* scroll bar */
[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: #bbf0b5;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background-color: #a0d49b;
}

/* Links */
[data-theme="dark"] .navmenu .links a > .link:hover:not(.active),
[data-theme="dark"] .navmenu .links .dropdown:hover:not(.active) > .link,
[data-theme="dark"] .navmenu .links .link .menu-btn:hover {
  background-color: #424940;
}
[data-theme="dark"] .navmenu .links .link.active,
[data-theme="dark"] .navmenu .links .dropdown.active > .link {
  background-color: #c9ffc3;
}
[data-theme="dark"] .navmenu .links .link p,
[data-theme="dark"] .navmenu .links .link span {
  color: #f6fff0;
}
[data-theme="dark"] .navmenu .links .link.active p,
[data-theme="dark"] .navmenu .links .link.active span,
[data-theme="dark"] .navmenu .links .dropdown.active .link p,
[data-theme="dark"] .navmenu .links .dropdown.active .link span {
  color: #101f10;
}

/* dropdown */
[data-theme="dark"] .navmenu .dropdown .drop-menu::before {
  background-color: #c9ffc3;
}
[data-theme="dark"] .navmenu .dropdown .drop-menu a {
  color: #f6fff0;
}
[data-theme="dark"] .navmenu .dropdown .drop-menu a.active {
  background-color: #c9ffc3;
  color: #101f10;
}
[data-theme="dark"] .navmenu .dropdown .drop-menu a:hover:not(.active) {
  background-color: #424940;
}

/* Navbar */
[data-theme="dark"] .navbar {
  background-color: #171d16;
}

/* Logo */
[data-theme="dark"] .navbar .logo p {
  color: #f6fff0;
}
[data-theme="dark"] .navbar .profile span {
  background-color: #424940;
  color: #f6fff0;
}

/* Profile Menu */
[data-theme="dark"] .profile-menu {
  background-color: #2c322a;
}
[data-theme="dark"] .profile-menu .close-pf-menu {
  color: #f6fff0;
}
[data-theme="dark"] .profile-menu .close-pf-menu:hover {
  background-color: #424940;
}
[data-theme="dark"] .profile-menu p {
  color: #f6fff0;
}
[data-theme="dark"] .profile-menu .user-image {
  background-color: #424940;
}
[data-theme="dark"] .profile-menu .user-image span {
  color: #f6fff0;
}
[data-theme="dark"] .profile-menu .tombol {
  background-color: #171d16;
}
[data-theme="dark"] .profile-menu .tombol > span {
  color: #f6fff0;
}
[data-theme="dark"] .profile-menu .tombol .saklar {
  background-color: #2c322a;
  border-color: #2c322a;
}
[data-theme="dark"] .profile-menu .tombol .saklar span {
  background-color: #5a6057;
  color: #5a6057;
}
[data-theme="dark"] .profile-menu .tombol .saklar.aktif {
  background-color: #a0d49b;
  border-color: #a0d49b;
}
[data-theme="dark"] .profile-menu .tombol .saklar.aktif span {
  background-color: #002105;
  color: #f6fff0;
}

/* Fab Button */
[data-theme="dark"] .fab-button {
  background-color: #3b4b39;
  color: #c9ffc3;
}

/* Header */
[data-theme="dark"] .header h1.nama {
  background: linear-gradient(
    90deg,
    #42bd51,
    #e2c550,
    #42bd51,
    #e2c550,
    #42bd51,
    #e2c550,
    #42bd51
  );
  background-size: 500%;
  background-position: left;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-theme="dark"] .header h1.nama::before {
  background: linear-gradient(90deg, transparent, #171d16 20%);
}
[data-theme="dark"] .header .kata-sambutan h1 {
  color: #52634f;
}

/* Header Menu */
[data-theme="dark"] .header .tombol .pilihan .tmbl {
  background-color: #2c322a;
  color: #f6fff0;
}
[data-theme="dark"] .header .tombol .pilihan .tmbl span {
  background-color: #171d16;
}

/* Tabel */
[data-theme="dark"] .tabel {
  background-color: #2c322a;
}
[data-theme="dark"] .tabel .head h2,
[data-theme="dark"] .tabel .head p {
  color: #f6fff0;
}
[data-theme="dark"] .tabel .head .bar-cari {
  background-color: #171d16;
}
[data-theme="dark"] .tabel .head .bar-cari * {
  color: #f6fff0;
}
[data-theme="dark"] .tabel table tr th,
[data-theme="dark"] .tabel table tr td {
  color: #f6fff0;
}
[data-theme="dark"] .tabel table thead {
  border-color: #424940;
}
[data-theme="dark"] .tabel table tbody tr:hover {
  background-color: #424940;
}
[data-theme="dark"] .tabel table tr td button {
  color: #c9ffc3;
}
[data-theme="dark"] .tabel table tr td button:nth-child(1) {
  color: var(--on-error-dark);
  background-color: var(--error-dark);
}
[data-theme="dark"] .tabel table tr td button:nth-child(2) {
  border-color: #c9ffc3;
}
[data-theme="dark"] .tabel table tr td button:nth-child(2):hover {
  color: #f6fff0;
  background-color: #52634f;
}

/* Formulir */
[data-theme="dark"] .formulir {
  background-color: #2c322a;
}
[data-theme="dark"] .formulir h1 {
  background-color: #2c322a;
  color: #f6fff0;
}
[data-theme="dark"] .formulir h1::before {
  background-color: #a6ada2;
}
[data-theme="dark"] .formulir h2 {
  color: #f6fff0;
}
[data-theme="dark"] .formulir .form-field {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #c2c9bd;
}
[data-theme="dark"] .formulir .form-field::before {
  background-color: #c9ffc3;
}
[data-theme="dark"] .formulir .form-field * {
  color: #f6fff0;
}
[data-theme="dark"]
  .formulir
  .form-field
  input::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
[data-theme="dark"] .formulir .form-field select option {
  background-color: #424940;
}
[data-theme="dark"] .formulir .form-field.fokus label {
  color: #c9ffc3;
}
[data-theme="dark"] .formulir .form-field .delete-field,
[data-theme="dark"] .formulir .multi-field .delete-field {
  color: #f6fff0;
}
[data-theme="dark"] .formulir .tambah {
  border-color: #c9ffc3;
}
[data-theme="dark"] .formulir .tambah span {
  color: #c9ffc3;
}
[data-theme="dark"] .formulir .tambah:hover,
[data-theme="dark"] .formulir .tombol-aksi span#cancel:hover {
  background-color: #424940;
}
[data-theme="dark"] .formulir .tombol-aksi button,
[data-theme="dark"] .formulir .tombol-aksi span {
  background-color: #c9ffc3;
  border-color: #c9ffc3;
  color: #101f10;
}
[data-theme="dark"] .formulir .tombol-aksi button:hover {
  background-color: #bbf0b5;
}
[data-theme="dark"] .formulir .tombol-aksi span#cancel {
  border-color: #c9ffc3;
  color: #c9ffc3;
}
